{% extends "base.html" %}
<br>
{% block pageheader %}
    Create Project
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
</header>
<article class="card-body">
    <form method="post">

{#// TODO: Remove This default form code#}
        {% csrf_token %}
        {#        {% for field in form.visible_fields %}#}
        {#            <div class="form-row">#}
        {#                <div class="form-group col-12">#}
        {#                    {{ field.label_tag }}#}
        {#                    <div class="form-input">#}
        {#                        {{ field }}#}
        {#                    </div>#}
        {#                    {% if field.help_text %}#}
        {#                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>#}
        {#                    {% endif %}#}
        {#                    {% if field.errors %}#}
        {#                        <small class="form-text text-danger">{{ field.errors }}</small>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}

        <div class="form-group">
            <label> Project Name
                {{ form.name }}
            </label>
            <small class="form-text text-muted">Please Enter the Project name</small>
        </div>
        <div class="form-group">
            <label> Project Admin
                {{ form.project_admin }}
            </label>
            <small class="form-text text-muted">Please Select Project Admin</small>
        </div>
        <div class="form-group">
            <label> Project Team
                {{ form.team }}
            </label>
            <small class="form-text text-muted">Please Select the team Memebrs</small>
        </div>
        <div class="form-group">
            <label> Select to archive project
                {{ form.is_archived }}
            </label>
            <small class="form-text text-muted">Please Select If You Want to Archive the Project</small>
        </div>
        <div class="form-row">
            <button class="btn btn-block btn-theme-secondary" type="submit" name="button"> Submit</button>
        </div>
    </form>
</article>
</div>
</div>
</div>
</div>
{% endblock %}
