{% extends "base.html" %}
<br>
{% block pageheader %}
    Create Task
{% endblock %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Static Example</title>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>

        <!-- XDSoft DateTimePicker -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
              integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
                integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    </head>
    <body>

    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-row">
                <div class="form-group col-12">
                    {{ field.label_tag }}
                    <div class="form-input">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <small class="form-text text-danger">{{ field.errors }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-row">
            <button class="btn btn-block btn-theme-secondary" type="submit" name="button"> Submit</button>
        </div>
    </form>

    <script>
        $('#timePicker').datetimepicker({
            // dateFormat: 'dd-mm-yy',
            format: 'DD/MM/YYYY HH:mm:ss',
            minDate: getFormattedDate(new Date())
        });

        function getFormattedDate(date) {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear().toString().slice(2);
            return day + '-' + month + '-' + year;
        }

        $(function () {
            $("#id_due_date").datetimepicker({
                format: 'd/m/Y H:i',
            });
        });
    </script>
    </body>
    </html>
{% endblock %}
